/****************** 
  Message-box
******************/

.message-box{

    form {
        @include flex-row-or-column(column);
        align-items: center;

        div {
            width: 100%;
            h4 {
                text-align: left;
                font-size: 27px;
            }
        }

        .form-group {
            width: 100%;

            input {
                
                height: 45px;
                font-size: 25px;
            }

            textarea {
                font-size: 25px;
            }
        }
        .submit {
            width: 100%;
            @include flex-center-center(row, center,center);
            input {
                background-color: $blue;
            }
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .message{
    
        form {
            @include flex-row-or-column(column);
            align-items: center;

            div {
                width: 100%;
                h4 {
                    text-align: left;
                    font-size: 27px;
                }
            }

            .form-group {
                width: 100%;

                input {
                    height: 45px;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .message{
        
        form {
            @include flex-row-or-column(column);
            align-items: center;

            div {
                width: 100%;
                h4 {
                    text-align: left;
                    font-size: 27px;
                }
            }

            

            .form-group {
                width: 100%;

                input {
                    height: 45px;
                    font-size: 25px;
                }

                textarea {
                    font-size: 25px;
                }
            }
        }
    }
   
}