/****************** 
  Show-User
******************/

.show {
    margin-bottom: 40px;

    .box-img {
        height: 350px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 45px;

        img {
            width: 100%;
            transform: translateY(-50px);
        }
    }
    .link {
        margin: 10px 0;
        a {
            text-decoration: none;
            color: green;
        }
        
    }

    .info {
        @include flex-row-or-column(column);
        
        .info-box {

            width: 100%;

            h2 {
                margin-top: 15px;
                font-weight: bold;
                text-align: center;
                font-size: 25px;
            }

            h5 {
                text-align: center;
                font-size: 23px;
            }

            .description {
                p {
                    font-size: 23px;
                }
            }
        }
        
        .services {
                
            .service-options {
                @include flex-row-or-column(column);
                justify-content: center;
                
                .features,
                .options {
                    display: flex;
                    flex-wrap: wrap;

                    h2 {
                        width: 100%;
                    }

                    ul {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            font-size: 27px;
                            list-style: none;
                            width: 50%;
                            display: inline-block;
                            padding: 7px 0;
                        }
                    }
                }
            }
        }
    }

    .map-payments {

        .direction {
            @include flex-row-or-column(column);
        }
       
        #map{
            height: 350px;
            width: 100%;
            z-index: 1;
        }
    }
    
    h1 {
        margin: 15px 0;
        font-size: 40px;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .show {

        .box-img {
            height: 400px;
            width: 100%;
            overflow: hidden;
    
            img {
                width: 100%;
                transform: translateY(-100px);
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
    .show {

        .box-img {
            height: 400px;
            width: 100%;
            overflow: hidden;
    
            img {
                width: 100%;
                transform: translateY(-200px);
            }
        }
    
        .info {
            @include flex-row-or-column(row);

            .info-box {
                width: 60%;
    
                h2 {
                    text-align: left;
                }
    
                h5 {
                    text-align: left;
                }
    
                .description {
                    p {
                        font-size: 23px;
                    }
                }
            }
            
            .services {
                width: 40%;
                .service-options {
                    @include flex-row-or-column(column);
                    padding-left: 75px;
                    
                    .features,
                    .options {
                        @include flex-row-or-column(column);
    
                        h2 {
                            width: 50%;
                        }
    
                        ul {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
    
                            li {
                                font-size: 27px;
                                list-style: none;
                                width: 100%;
                                display: block;
                                padding: 7px 0;
                            }
                        }
                    }
                }
            }
        }
    
        .map-payments {
            padding: 15px 0;
    
            .direction {
                @include flex-row-or-column(row-reverse);
            }

            .maps {
                width: 70%;
                #map{
                    height: 350px;
                    width: 90%;
                    z-index: 1;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .show {

        .box-img {
            height: 550px;
            width: 100%;
            overflow: hidden;
    
            img {
                width: 100%;
                transform: translateY(-300px);
            }
        }
    
        .info {
    
            @include flex-row-or-column(row);
 
            .info-box {
    
                width: 70%;
    
                h2 {
                    margin-top: 15px;
                    font-weight: bold;
                    text-align: left;
                }
    
                h5 {
                    text-align: left;
                }
    
                .description {
                    p {
                        font-size: 23px;
                    }
                }
            }
            
            .services {
                width: 30%;
                .service-options {
                    @include flex-row-or-column(column);
                    padding-left: 75px;
                    
                    .features,
                    .options {
                        @include flex-row-or-column(column);
    
                        h2 {
                            width: 50%;
                        }
    
                        ul {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
    
                            li {
                                font-size: 27px;
                                list-style: none;
                                width: 100%;
                                display: block;
                                padding: 7px 0;
                            }
                        }
                    }
                }
            }
        }
    
        .map-payments {
            padding: 15px 0;
    
            .direction {
                @include flex-row-or-column(row-reverse);
            }

            .maps {
                width: 70%;
                #map{
                    height: 350px;
                    width: 90%;
                    z-index: 1;
                }
            }
        }
    }
}

@media (min-width: 1700px) { 
    .show {

        .box-img {
            height: 600px;
            width: 100%;
            overflow: hidden;
    
            img {
                width: 100%;
                transform: translateY(-600px);
            }
        }
    
    }
}